
a {
    text-decoration: none;
    color: currentColor;
}

.dropdown-menu{
    background-color: $black;
}

.dropdown-item{
    background-color: $black;
    color: $white;
}

.bg-nav{
    background-color: $black;
}