
a {
    text-decoration: none;
    color: currentColor;
}

.dropdown-menu{
    background-color: $black;
}

.dropdown-item{
    background-color: $black;
    color: $white;
}

.bg-nav{
    background-color: $black;
}

.fa-angle-right{
    font-size: 14px;
    margin-left: 10px;
    
  }

  .fa-play{
    font-size: 25px;
    color: #4154ff;
    height: 80px;
    width: 80px;
    line-height: 80px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
  }

  .fa-youtube{
    margin-right: 10px;
  }
  
  li{
    list-style-type: none;
  }